.MidTop {
    position: relative;
    top: 0px;
    height:86px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin-right: 0px;  
    z-index: 0; 
    transform: scaleX(-1); 
}

.MidTop svg {
    position: relative;
    display: block;
    width: calc(190% + 1.2px);
    height: 120px;
    transform: rotateY(180deg);
    bottom: -1px;
    z-index: 0;
    

}

.MidTop .shape-fill {
    fill: #000;

} 


@media (min-width: 1440px) { 
    
    .MidTop {
        position: relative;
        top: 42px;
        left: 0;
        transform: scaleY(2.3) rotateY(180deg);
        height: 40px;
        overflow: hidden;
        line-height: 0;
        margin-right: 0px;
        z-index: 4;
    }

    .MidTop .shape-fill {
    
        fill: #0a0a0a;
    }
}

@media   only screen and (min-width: 1366px) and (min-height: 768px)     {
   .MidTop {
    position: absolute;
    top: 153px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin-right: 0px;  
    z-index: 0; 
    transform: scaleX(-1); 
    margin-bottom: 15px;
}

.MidTop svg {
    position: relative;
    display: block;
    width: calc(172% + 1.3px);
    height: 250px;
    transform: rotateY(180deg);
    z-index: 10;
}

.MidTop .shape-fill {
    fill: #000;
}
}

/* @media (min-width: 1360px) and (min-height: 768px) {
    .MidTop{
        top: 160px;
    }

} */

@media (min-height: 640px) and (min-width: 360px) {
    .MidBot {
        width: 100%;
    }
}