.MidTop {
    position: relative;
    top: 0px;
    height:86px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin-right: 0px;  
    z-index: 0; 
    transform: scaleX(-1); 
}

.MidTop svg {
    position: relative;
    display: block;
    width: calc(190% + 1.2px);
    height: 120px;
    transform: rotateY(180deg);
    z-index: 0;
}

.MidTop .shape-fill {
    fill: #0a0a0a;

} 
@media (min-height: 640px) and (min-width: 360px) {
    .MidTop {
        position: absolute;
        top: 120px;
        height: 70px;
        z-index: 0;
    }
    .MidTop svg {
        width: calc(172% + 1.3px);
        height: 218px;
        transform: rotateY(180deg);
        z-index: 0;
    }
}
@media (min-height: 800px) and (min-width: 414px) {
    .MidTop{
        top: 155px;
    }
}
@media (min-height: 896px) and (min-width: 480px) {
    .MidTop{
        top: 185px;
    }
}
@media (min-width: 1024px) and (min-height: 768px) {
    .MidTop{
        top: 166px;
    }
}
@media (min-width: 1280px) and (min-height: 800px) {
    .MidTop{
        top: 174px;
    }
}


@media    (min-width: 1366px) and (min-height: 768px)     {
   .MidTop {
    position: absolute;
    top: 165px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin-right: 0px;  
    z-index: 0; 
    transform: scaleX(-1); 
    margin-bottom: 15px;
    
}

.MidTop svg {
    position: relative;
    display: block;
    width: calc(172% + 1.3px);
    height: 200px;
    transform: rotateY(180deg);
    z-index: 10;
}

.MidTop .shape-fill {
    fill: #0a0a0a;
}
}


@media (min-width: 1536px) and (min-height: 864px) {
    .MidTop{
        top: 185px;
    }
}

@media (min-width: 1440px) and (min-height: 900px) {
    .MidTop{
        top: 193px;
    }
}
@media (min-width: 1920px) and (min-height: 1080px) {
    .MidTop{
        top: 240px;
    }
}